.wrapper {
  margin-top: 10px;
  border: solid var(--ion-color-medium) .75px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  .icon {
    margin-top: 11px;
  }
}