.wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
  ion-avatar {
    position: relative;
    width: 50px;
    height: 50px;
    .status-indicator {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      border: solid .75px var(--ion-color-medium);
      border-radius: 50%;
      &.offline {
        background-color: var(--ion-color-danger);
      }
      &.online {
        background-color: var(--ion-color-success);
      }
    }
  }
  .info  {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
  }
}