<div class="wrapper" *ngIf="(profile$ | async) as profile">
  <ion-avatar>
    <img *ngIf="profile.photoURL" [src]="profile.photoURL" />
    <img *ngIf="!profile.photoUrl" src="https://api.adorable.io/avatars/285/{{profile.uid}}.png" />
    <div [ngClass]="['status-indicator', profile.status]"></div>
  </ion-avatar>
  <div class="info">
    <ion-label>
      {{profile.displayName}}
    </ion-label>
    <ion-label color="medium">
      {{profile.status}}
    </ion-label>
  </div>
</div>