<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Create group</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">

  <div class="wrapper" *ngIf="(friends$ | async).length; else noFriend">

    <ion-avatar class="group-avatar">
      <img src="https://api.adorable.io/avatars/285/group.png" />
    </ion-avatar>

    <form [formGroup]="groupForm" (ngSubmit)="handleSubmit()">

      <ion-item color="dark">
        <ion-label>Group name</ion-label>
        <ion-input type="text" placeholder="Type your group name here..." formControlName="displayName"></ion-input>
      </ion-item>

      <ion-item *ngIf="">

      </ion-item>

      <ion-list color="dark">
        <ion-list-header color="dark">
          <ion-label>Select friends</ion-label>
        </ion-list-header>
        <ion-item formArrayName="friendSelect" *ngFor="let friend of groupForm.controls.friendSelect.controls; let i = index" color="dark">
          <ion-avatar>
            <img *ngIf="friends[i].photoURL" [src]="friends[i].photoURL" />
            <img *ngIf="!friends[i].photoUrl" src="https://api.adorable.io/avatars/285/{{friends[i].uid}}.png" />
          </ion-avatar>
          <ion-label>
            <ion-text style="margin-left: 2em">{{(friends$ | async)[i].displayName}}</ion-text>
          </ion-label>
          <ion-checkbox slot="end" color="tertiary" [formControlName]="i"></ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-button type="submit" color="tertiary" [disabled]="!groupForm.valid">Create</ion-button>

    </form>

  </div>

  <ng-template #noFriend>
    <app-no-result entity="friend" tips="Add friends and try again !"></app-no-result>
  </ng-template>

</ion-content>