<div class="wrapper">
  <img [width]="width" [height]="height" src="/assets/search.svg" />
  <ion-text color="medium">Sorry we don't find any {{entity}} ...</ion-text>
  <ion-text color="warning" *ngIf="tips">{{tips}}</ion-text>
</div>
