<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Add friends</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <form [formGroup]="groupForm" (ngSubmit)="handleSubmit()">

    <ion-list color="dark">
      <ion-list-header color="dark">
        <ion-label>Select friends</ion-label>
      </ion-list-header>
      <ion-item formArrayName="friendSelect"
        *ngFor="let friend of friends; let i = index" color="dark">
        <ion-avatar>
          <img *ngIf="friends[i].photoURL" [src]="friends[i].photoURL" />
          <img *ngIf="!friends[i].photoURL" src="https://api.adorable.io/avatars/285/{{friends[i].uid}}.png" />
        </ion-avatar>
        <ion-label>
          <ion-text style="margin-left: 2em">{{(friends$ | async)[i].displayName}}</ion-text>
        </ion-label>
        <ion-checkbox slot="end" color="tertiary" [formControlName]="i"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="tertiary" [disabled]="!groupForm.valid">Update</ion-button>
  </form>
</ion-content>