<div class="wrapper" *ngIf="(selectedGroup$ | async)">
  <ion-menu-toggle>
    <ion-button class="chat-link" color="tertiary" fill="outline" [routerLink]="['conversation', group.uid]">
      {{(selectedGroup$ | async).displayName}}
      <ion-icon slot="end" name="chatbubbles"></ion-icon>
    </ion-button>
  </ion-menu-toggle>

  <ion-button *ngIf="(authId$ | async) === (selectedGroup$ | async).owner" class="chat-link" color="tertiary" fill="outline" (click)="addMembers()">
    <ion-icon slot="end" name="person-add"></ion-icon>
  </ion-button>

  <ion-list *ngIf="(selectedGroup$ | async).members.length">
    <ion-list-header color="dark">
      <ion-label>Members</ion-label>
    </ion-list-header>
    <ion-item color="dark" *ngFor="let member of (selectedGroup$ | async).members">
      <ion-avatar>
        <img *ngIf="member.photoURL" [src]="member.photoURL" />
        <img *ngIf="!member.photoUrl" src="https://api.adorable.io/avatars/285/{{member.uid}}.png" />
      </ion-avatar>
      <ion-label>
        <ion-text *ngIf="(authId$ | async) !== member.uid" style="margin-left: 2em">{{member.displayName}}</ion-text>
        <ion-text *ngIf="(authId$ | async) === member.uid" style="margin-left: 2em">you</ion-text>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button slot="end"
          *ngIf="(selectedGroup$ |async).owner === (authId$ | async) && (authId$ | async) !== member.uid"
          (click)="delete(member)">
          <ion-icon name="close" color="danger"></ion-icon>
        </ion-button>
        <ion-button slot="end" *ngIf="displaySend(member) | async" (click)="invit(member)">
          <ion-icon name="person-add" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-note *ngIf="(selectedGroup$ |async).owner === member.uid">admin</ion-note>
    </ion-item>
  </ion-list>

  <ion-menu-toggle>
    <ion-button [routerLink]="['conference', group.uid]" color="tertiary" class="meeting-link">
      Meeting
      <ion-icon slot="end" name="megaphone"></ion-icon>
    </ion-button>
  </ion-menu-toggle>
</div>