.wrapper {
  position: relative;
  text-align: center;
  padding-top: 1em;
  height: calc(100vh - 75px);

  .chat-link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }

  .meeting-link {
    width: calc(100% - 50px);
  }
}