<ion-menu [menuId]="menuId" [contentId]="contentId">
  <ion-content color="dark">
    <div class="top">

      <div class="left">
        <app-friend-button [isActive]="!isGroup" (select)="handleFriendPanelSelect()"></app-friend-button>
        <div class="separator"></div>
        <app-group-button *ngFor="let group of (groups$ |async)" [conversation]="group"
          (select)="handleGroupSelect(group)" [isActive]="(selectedGroupId$ | async) === group.uid && isGroup">
        </app-group-button>
        <app-add-group-button (add)="handleAddGroup()"></app-add-group-button>
      </div>

      <div class="right">
        <div *ngIf="isGroup; else conversationPanel">
          <app-group-panel></app-group-panel>
        </div>
        <ng-template #conversationPanel>
          <app-conversation-panel></app-conversation-panel>
        </ng-template>
      </div>
    </div>

    <div class="bottom">

      <app-user-status (click)="openStatusModal()"></app-user-status>
      
      <ion-menu-toggle>
        <div class="profile-link">
          <ion-icon name="cog" color="medium" (click)="goToProfilePage()" menuClose></ion-icon>
        </div>
      </ion-menu-toggle>
    </div>

  </ion-content>
</ion-menu>