ion-menu {
  --width: 95%;
  ion-content {
    height: 100vh;

    .top {
      display: flex;
      height: calc(100vh - 75px);

      .left {
        border: solid var(--ion-color-dark-shade) .75px;
        width: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        
        .separator {
          width: 85%;
          border: solid var(--ion-color-dark-shade) .75px;

        }
      }

      .right {
        border: solid var(--ion-color-dark-shade) .75px;
        width: 100%;
        overflow: scroll;
      }
    }

    .bottom {
      border: solid var(--ion-color-dark-shade) .75px;
      height: 75px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profile-link {
      font-size: 35px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

