<app-header title=""></app-header>

<ion-content padding color="dark" *ngIf="(conversation$ | async)">

  <app-message *ngFor="let message of (messages$ | async)" [message]="message" [members]="(conversation$ | async).members">
  </app-message>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <div style="display: flex;align-items: center; padding-left: 1em; padding-right: 1em;">

      <ion-icon name="add" color="tertiary" (click)="sendMessage()"></ion-icon>

      <ion-textarea
        id="msgInput"
        rows="1"
        [(ngModel)]="message"
        name="msgInput"
        placeholder="Type your message here !"
        ></ion-textarea>

      <ion-icon name="paper-plane" color="tertiary" (click)="sendMessage()"></ion-icon>

    </div>
  </ion-toolbar>
</ion-footer>