.wrapper {
  ion-avatar {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }

  form {
    position: relative;
    ion-button {
      width: 100%;
      margin-top: 1em;
    }
  }
}