<app-header [title]="(profile$ | async).displayName ? '#' + (profile$ | async).displayName : 'Create profile'"
  signOutButton="true"></app-header>

<ion-content padding color="dark">
  <div class="wrapper" *ngIf="!(profile$ | async).isLoading; else loading">

    <label for="file-input" *ngIf="!isAndroid">
      <ion-avatar>
        <img *ngIf="choosenFile" [src]="choosenFile" />
        <img *ngIf="!choosenFile && (profile$ | async).photoURL" [src]="(profile$ | async).photoURL" />
        <img *ngIf="!choosenFile && !(profile$ | async).photoUrl"
          src="https://api.adorable.io/avatars/285/{{(profile$ | async).uid}}.png" />
      </ion-avatar>
      <input type="file" id="file-input" style="opacity: 0; position: absolute; left: -1000px" (change)="handleAvatarChange($event)"/>
    </label>

    <ion-avatar *ngIf="isAndroid" (click)="openFileChooser()">
      <img *ngIf="choosenFile" [src]="choosenFile" />
      <img *ngIf="!choosenFile && (profile$ | async).photoURL" [src]="(profile$ | async).photoURL" />
      <img *ngIf="!choosenFile && !(profile$ | async).photoUrl"
        src="https://api.adorable.io/avatars/285/{{(profile$ | async).uid}}.png" />
    </ion-avatar>

    <form (ngSubmit)="handleSubmit()" [formGroup]="profileForm">

      <ion-item color="dark">
        <ion-label>Username:</ion-label>
        <ion-input type="text" formControlName="displayName" placeholder="Type your username here..."
          [value]="(profile$ | async).displayName ? (profile$ | async).displayName : ''"></ion-input>
      </ion-item>

      <ion-item *ngIf="displayName.errors" color="danger">
        <ion-text *ngIf="displayName.errors.required">Username is required</ion-text>
        <ion-text *ngIf="displayName.errors.minlength">Username should be min 4 characters</ion-text>
      </ion-item>

      <ion-button color="tertiary" type="submit" [disabled]="!profileForm.valid || (profile$ | async).isLoading">Update
      </ion-button>

    </form>

  </div>

  <ng-template #loading>
    <div style="position: absolute;top: calc(50vh - (13px + 56px));left: calc(50vw - 13px)">
      <ion-spinner color="tertiary"></ion-spinner>
    </div>
  </ng-template>
</ion-content>