<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Choose status</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item color="dark" (click)="handleStatusSelect('online')">
      <ion-label>Online</ion-label>
    </ion-item>
    <ion-item color="dark" (click)="handleStatusSelect('offline')">
        <ion-label>Offline</ion-label>
    </ion-item>
  </ion-list>
</ion-content>