<ion-item color="dark">

  <ion-avatar>
      <img *ngIf="request.target.photoURL" [src]="request.target.photoURL" />
      <img *ngIf="!request.target.photoURL" src="https://api.adorable.io/avatars/285/{{request.target.uid}}.png" />
  </ion-avatar>

  <ion-label>
    <ion-text style="margin-left: 2em">{{request.target.displayName}}</ion-text>
  </ion-label>

  <ion-button fill="outline" (click)="handleDelete()" color="danger">
    <ion-icon name="close"></ion-icon>
  </ion-button>

  <ion-button fill="outline" (click)="handleAccept()" color="success" *ngIf="!isFromAuth">
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>
</ion-item>
