ion-avatar {
  position: relative;
  .status-indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: solid .75px var(--ion-color-medium);
    border-radius: 50%;
    &.offline {
      background-color: var(--ion-color-danger);
    }
    &.online {
      background-color: var(--ion-color-success);
    }
  }
}
