<app-header title="friends"></app-header>

<ion-content padding color="dark">

  <ion-segment (ionChange)="segmentChanged($event)" [value]="segment" color="tertiary">
    <ion-segment-button value="friend">
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-icon name="person-add"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="request">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge
        color="tertiary"
        *ngIf="(requestsForAuth$ | async).length"
        style="position: absolute; right: 20%;"
      >{{(requestsForAuth$ | async).length}}</ion-badge>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'friend'">

    <ion-list *ngIf="(friends$ | async).length; else noFriend" color="dark">
      <ion-list-header color="dark">
        <ion-label>Friend{{(friends$ | async).length > 1 ? 's' : ''}}</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let friend of (friends$ | async)" color="dark">
        <ion-avatar>
          <img *ngIf="friend.photoURL" [src]="friend.photoURL" />
          <img *ngIf="!friend.photoUrl" src="https://api.adorable.io/avatars/285/{{friend.uid}}.png" />
          <div [ngClass]="['status-indicator', friend.status]"></div>
        </ion-avatar>
        <ion-label>
          <ion-text style="margin-left: 2em">{{friend.displayName}}</ion-text>
        </ion-label>
        <ion-button fill="outline" (click)="delete(friend)" color="danger">
          <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="privateTalk(friend)">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
    <ng-template #noFriend>
      <app-no-result entity="friend" tips="Invit contacts before !"></app-no-result>
    </ng-template>
  </div>

  <div *ngIf="segment === 'contact'">
    <ion-list *ngIf="(contacts$ | async).length; else noContact" color="dark">
      <ion-list-header color="dark">
        <ion-label>Contact{{(contacts$ | async).length > 1 ? 's' : ''}}</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let contact of (contacts$ | async)" color="dark">

        <ion-avatar>
          <img *ngIf="contact.photoURL" [src]="contact.photoURL" />
          <img *ngIf="!contact.photoUrl" src="https://api.adorable.io/avatars/285/{{contact.uid}}.png" />
        </ion-avatar>

        <ion-label>
          <ion-text style="margin-left: 2em">{{contact.displayName}}</ion-text>
        </ion-label>

        <ion-button fill="outline" (click)="invit(contact)" color="tertiary">
          <ion-icon name="add"></ion-icon>
        </ion-button>

      </ion-item>

    </ion-list>

    <ng-template #noContact>
      <app-no-result entity="contact" tips="No more contact ! Come back soon !"></app-no-result>
    </ng-template>
  </div>

  <div *ngIf="segment === 'request'">

    <ion-list *ngIf="(requestsFromAuth$ | async).length" color="dark">

      <ion-list-header color="dark">
        <ion-label>Pending request{{(requestsFromAuth$ | async).length > 1 ? 's' : ''}}</ion-label>
      </ion-list-header>

      <app-request-item *ngFor="let request of (requestsFromAuth$ | async)" [request]="request" isFromAuth="true"
        (delete)="deleteRequest(request)"></app-request-item>

    </ion-list>

    <ion-list *ngIf="(requestsForAuth$ | async).length" color="dark">

      <ion-list-header color="dark">
        <ion-label>Invitation request{{(requestsForAuth$ | async).length > 1 ? 's' : ''}}</ion-label>
      </ion-list-header>

      <app-request-item *ngFor="let request of (requestsForAuth$ | async)" [request]="request"
        (accept)="acceptRequest(request)" (delete)="deleteRequest(request)"></app-request-item>

    </ion-list>

    <div *ngIf="!(requestsFromAuth$ | async).length && !(requestsForAuth$ | async).length">
      <app-no-result entity="request" tips="Invit more contacts or wait for invitation !"></app-no-result>
    </div>

  </div>

</ion-content>