.wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid var(--ion-color-medium-shade) .75px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  &.active {
    animation: pulse 2s infinite;
    border-color: var(--ion-color-tertiary-tint);
    & .icon {
      color: var(--ion-color-tertiary-tint);
    }
  }

  .icon {
    color: var(--ion-color-medium-tint);
    margin-top: 11px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(#7044ff, 0.4);
  }
  70% {
      box-shadow: 0 0 0 5px rgba(#7044ff, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(#7044ff, 0);
  }
}