<ion-app>
  <ion-content color="dark">
    <ion-router-outlet *ngIf="(appIsLoaded$ | async); else loading" main></ion-router-outlet>
    <ng-template #loading>
      <div style="position: absolute;top: calc(50vh - 13px);left: calc(50vw - 13px)">
        <ion-spinner color="tertiary"></ion-spinner>
      </div>
    </ng-template>
  </ion-content>
</ion-app>