<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Welcome guest !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <form [formGroup]="authForm" (ngSubmit)="signIn()">
    <ion-item color="dark">
      <ion-label>Phone number:</ion-label>
      <ion-input placeholder="Type your phone number here" formControlName="phoneNumber"></ion-input>
    </ion-item>
    <ion-item color="danger" *ngIf="phoneNumber.errors && (phoneNumber.touched || phoneNumber.dirty)">
      <ion-text color="light" *ngIf="phoneNumber.errors.required">Required !</ion-text>
      <ion-text color="light" *ngIf="phoneNumber.errors.pattern">Don't match pattern +33 ...</ion-text>
    </ion-item>
    <ion-item color="danger" *ngIf="signinError$ | async">
      <ion-text color="light">{{signinError$ | async}}</ion-text>
    </ion-item>
    <div id="recaptcha-container" *ngIf="!isAndroid"></div>
    <ion-button
      type="submit"
      [disabled]="!authForm.valid || (isLoading$ | async)"
      color="tertiary"
    >SignIn</ion-button>
  </form>
</ion-content>