<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start"  *ngIf="menuButton">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="signOutButton">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="loading-bar">
  <ion-progress-bar *ngIf="(userIsLoading$ | async)" type="indeterminate"></ion-progress-bar>
</div>