<ion-item color="dark" *ngIf="author">
  <ion-avatar slot="start">
    <img *ngIf="author.photoURL" [src]="author.photoURL" />
    <img *ngIf="!author.photoUrl" src="https://api.adorable.io/avatars/285/{{author.uid}}.png" />
  </ion-avatar>
  <ion-label>
    {{author.displayName}}
  </ion-label>
  <ion-note slot="end">{{message.createdAt.toDate() | date:'d/m/y h:mm a'}}</ion-note>
</ion-item>
<div #content></div>
