<div [ngClass]="{'wrapper': true, 'active': isActive}" (click)="handleSelect($event)">
  <img *ngIf="conversation.photoURL" [src]="conversation.photoURL" />
  <img *ngIf="!conversation.photoURL" src="https://api.adorable.io/avatars/285/{{conversation.uid}}.png" />
</div>