.wrapper {
  margin-top: 10px;
  border: solid var(--ion-color-medium) 1px;
  background-color: var(--ion-color-medium-tint);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
  &.active {
    animation: pulse 2s infinite;
    border-color: var(--ion-color-tertiary-tint);
    background-color: var(--ion-color-tertiary-tint);
  }
  img {
    width: 49px;
    height: 49px;
    margin-top: -.75px;
    margin-left: .155px;
    border-radius: 50%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(#7044ff, 0.4);
  }
  70% {
      box-shadow: 0 0 0 5px rgba(#7044ff, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(#7044ff, 0);
  }
}