.wrapper {
  position: relative;
  text-align: center;
  padding-top: 1em;
  height: calc(100vh - 75px);

  .friend-link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }

  .meeting-link {
    width: calc(100% - 50px);
  }
}

.conversation-item {
  position: relative;
  display: flex;
  .conversation-info {
    position: relative;
    display: flex;
    flex-direction: column;
    .last-message {
      font-size: .8em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
  }
}