<div class="wrapper">

  <ion-menu-toggle>
    <ion-button class="friend-link" color="tertiary" fill="outline" [routerLink]="'dashboard'">
      Friends
      <ion-icon slot="end" name="people"></ion-icon>
    </ion-button>
  </ion-menu-toggle>

  <ion-list *ngIf="(conversations$ | async).length; else noConversation" color="dark">
    <ion-list-header color="dark">
      <ion-label>Conversations</ion-label>
    </ion-list-header>

    <ion-menu-toggle>
      <ion-item class="conversation-item" *ngFor="let conversation of (conversations$ | async)"
        (click)="goToConversation(conversation)" color="dark">
        <ion-avatar *ngIf="conversation.target">
          <img *ngIf="conversation.target.photoURL" [src]="conversation.target.photoURL" />
          <img *ngIf="!conversation.target.photoUrl"
            src="https://api.adorable.io/avatars/285/{{conversation.target.uid}}.png" />
        </ion-avatar>
        <div class="conversation-info">
          <ion-text *ngIf="conversation.target" style="margin-left: .5em">{{conversation.target.displayName}}</ion-text>
          <ion-text class="last-message" color="medium" *ngIf="conversation.lastMessage" style="margin-left: .5em">
            {{conversation.lastMessage.content}}</ion-text>
        </div>
      </ion-item>
    </ion-menu-toggle>

  </ion-list>

  <ion-menu-toggle *ngIf="(conversations$ | async).length">
    <ion-button [routerLink]="['conference', (authId$ | async)]" color="tertiary" class="meeting-link">
      Meeting
      <ion-icon slot="end" name="megaphone"></ion-icon>
    </ion-button>
  </ion-menu-toggle>

  <ng-template #noConversation>
    <app-no-result entity="conversation" tips="Talk to your friends before !"></app-no-result>
  </ng-template>

</div>