<app-menu *ngIf="(profile$ |async).displayName" contentId="user-content" menuId="user-menu"></app-menu>

<ion-content color="dark">
  <ion-router-outlet id="user-content" user></ion-router-outlet>
  <!-- <ng-template #loading>
    <div style="position: absolute;top: calc(50vh - 13px);left: calc(50vw - 13px)">
      <ion-spinner color="tertiary"></ion-spinner>
    </div>
  </ng-template> -->
</ion-content>