<app-header></app-header>

<ion-content padding color="dark">

  <div *ngIf="session; else sessionLoading">
    <app-user-video *ngIf="publisher" [streamManager]="publisher"></app-user-video>
    <div *ngIf="subscribers.length">
      <app-user-video *ngFor="let subscriber of subscribers" [streamManager]="subscriber"></app-user-video>
    </div>
  </div>

  <ng-template #sessionLoading>Loading...</ng-template>
</ion-content>
